@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* bon reste*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*fin reset*/
/* Variables */
:root {
  --font-size: 1rem;
}
.light-mode {
  --navbar-color: rgb(51, 43, 43);
  --navbar-bg-color: #f0f0f0;
}
.dark-mode {
  --navbar-color: #fff;
  --navbar-bg-color: #000;
}

/* Reset */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

/* Basic style */
body {
  margin: 0;
  font-size: var(--font-size);
  font-family: "Poppins", sans-serif;
}

.main-content {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  position: relative;
  background-color: rgb(230, 225, 218, 0.4);
}
.btn {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  background-color: rgb(56, 48, 16);
  color: rgb(124, 53, 53);
  border-radius: 1rem;
}
.btn:hover {
  background-color: #000;
  color: #f0f0f0;
  transition: all 0.5s ease-in-out;
}
/* Navbar */
.navbar {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background: var(--navbar-bg-color);
  color: var(--navbar-color);
}
.navbar__logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar__logo > img {
  width: 4rem;
  top: -40px;
  left: 42vw;
}
.navbar__links {
  display: flex;
  align-self: center;
  justify-content: center;
}
.navbar__link {
  padding: 0 1rem;
}
.navbar__link > a {
  color: var(--navbar-color);
  text-decoration: none;
}
.burger {
  display: none;
}
/* corps de notre page*/
.title {
  /*padding: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: revert;*/
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: whitesmoke;
}
.scrool {
  height: calc(100vh - 84px);
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(248, 248, 245, 0.5)
    ),
    url(/fond.png);
  background-attachment: fixed;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  overflow: hidden;
  margin: 0 5%;
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 0.5rem;
  column-gap: 1rem;
}
.content__img {
  flex: 1;
  margin: 1rem 0.5rem;
  height: auto;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.card {
  max-width: 200px;
  min-width: 100px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
}
/*.content-img {
  height: auto;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}*/
.text {
}
.title-card {
  font-weight: bold;
}
.text-card {
  font-weight: 200;
  font-size: 0.8rem;
}
.footer-card {
}

.image {
  z-index: 4;
  position: absolute;
  width: 80px;
  top: -30px;
  left: calc(50% - 40px);
}
.elem__img {
  width: 100%;
  filter: grayscale(100%);
}
.elem__img:hover {
  filter: grayscale(0);
  transition: filter 0.5s ease-in-out;
}
/*animation*/
/* animation barre sous le texte*/
.navbar__link > a::after {
  z-index: -1;
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background: red;
  transition: width 0.4s;
}
.navbar__link:hover > a::after {
  width: 100%;
}
/* image de separation*/
.separation {
  height: 30vh;
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.5),
      rgba(156, 156, 151, 0.5)
    ),
    url(fond.png);
  background-attachment: fixed;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* menu toggle */
@media screen and (max-width: 1000px) {
  .scrool {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/photo/23.jpeg);
  }
  .separation {
    height: 450px;
    background-image: linear-gradient(
        rgba(240, 240, 247, 0.5),
        rgba(12, 12, 12, 0.5)
      ),
      url(senegal.webp);
  }
  .navbar__links {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100% - 65px);
    position: absolute;
    top: 129px;
    left: 00px;
    background: var(--navbar-bg-color);
    transform: translatey(110%);
    transition: all 1.5s ease-in-out;
    min-height: 400px;

    background-color: transparent;
    background-image: url(senegal.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: grayscale(80%);
  }
  .navbar__links:hover {
    filter: grayscale(10%);
  }

  .show-nav .navbar__links {
    width: 100vw;
    left: 0px;
    transform: translateX(0);
  }
  .navbar__link {
    transform: translatey(101%);
    align-self: center;
    transition: all 2s ease-in-out;
  }
  .navbar__link > a::after {
    z-index: -1;
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(248, 2, 2);
    transition: width 0.4s;
  }
  .navbar__link:hover > a::after {
    width: 100%;
  }
  .show-nav .navbar__link {
    transform: translateX(0);
  }
  .navbar__link > a {
    display: block;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: ivory;
    transition: all 0.4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 3px;
  }
  .navbar__logo > h2 {
    padding-right: 50px;
  }
  /* le burger de navigation */
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    top: -45px;
    left: 40vw;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: var(--navbar-color);
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .bar::before {
    transform: translateY(-12px);
  }
  .bar::after {
    transform: translateY(12px);
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }
  .show-nav .bar::before {
    transform: rotate(45deg);
  }
  .show-nav .bar::after {
    transform: rotate(-45deg);
  }
  /* Bonus - Animations */
  .show-nav .first {
    transition: all 3s ease-out;
  }
  .show-nav .second {
    transition: all 3.1s ease-out;
  }
  .show-nav .third {
    transition: all 3.2s ease-out;
  }
  /* contenue */
  .content {
    margin: 0 2%;
  }
  .main-content {
    margin-top: 0rem;
  }
  .title {
    color: rgb(247, 8, 8);
    font-weight: 700;
    font-size: 2.5rem;
  }

  /* Toggle menu */
}
/*  Medium device - Bonus */
/*@media screen and (max-width: 768px) {
  .navbar__links {
    filter: grayscale(0%);
  }
  .navbar__logo {
    z-index: 3;
  }
  .image,
  .elem__img {
    filter: grayscale(0%);
  }
}
/*  Small device */

.rot {
  transform: rotate(5deg);
}
.notrot {
  transform: rotate(-5deg);
}
